<div class="specimen align-centre pb-5u pt-5u">
	<p class="type-6xl {% include utilities/reading-direction.html %} {{ main_selector }} lh08" style="--wght: 900">{{ content.specimen1 }}</p>
	<p class="type-5xl {% include utilities/reading-direction.html %} {{ italic_selector }} lh13" style="--wght: 300">{{ content.specimen2 }}</p>
	<p class="type-4xl {% include utilities/reading-direction.html %} {{ main_selector }} lh11" style="--wght: 400">{{ content.specimen3 }}</p>
	<p class="type-3xl {% include utilities/reading-direction.html %} {{ italic_selector }} lh10" style="--wght: 700">{{ content.specimen4 }}</p>
</div>
