---
layout: default.html
---
{% assign roman = fontdata[0].selector %}
{% assign italic = fontdata[1].selector %}
{% assign instances = fonts[roman].instances %}
{% assign axis = fonts[roman].axes[0] %}

{% include topbar.html %}

<main id="top">
	{% include hero.html %}
	{% include playground.html %}
	{% include weights.html %}
	{% include features.html %}
	{% include glyphs.html %}
	{% include languages.html %}
	{% include get.html %}
</main>

{% include footer.html %}

<div class="toast" role="status" aria-live="polite"></div>
